.success,
.error {
  border-radius: $small-radius;
  color: $white;
  font-weight: 400;
  margin-bottom: 12px;
  padding: 5px;
}

.success {
  background: $cta;
  font-size: 16px;
  height: 92px;
  line-height: 28px;
  margin: 20px 0 11px;
  padding: 17px 0;
  position: absolute;
  top: 1000px;
}

.error {
  background: $error;
}

.hidden {
  display: none;
}

.fade-in-pop-in {
  animation: fade-in-pop-in forwards $fast;
  display: block;
}

.fade-out {
  animation: fade-out forwards $fast;
}

.shake {
  animation: shake $slow forwards;
  opacity: 1;
  position: relative;
}

.move-to-zero {
  animation: move-to-zero  ($fast * 3) forwards;
}
